
<div class="footer-group">
    <div
    color="secondary" 
    class="__no-round __footer-top">
        <div class="__col-3">
            <h4>LokiCorp</h4>
            <p class="copyright">Expert négociateur et gestionnaire de la communication avec le fournisseur chinois.</p>
        </div>
        <div class="__col-3">
            <h4>Outils Utilisateur</h4>
            <a mat-button color="warn" routerLink="auth">Mon compte</a>
            <a mat-button color="warn" routerLink="panier">Mon panier</a>
        </div>
        <div class="__col-3">
            <h4>Depuis Avril 2020, LokiCorp vous accompagne dans le choix de fournisseurs chinois.</h4>
        </div>
    </div>

    <mat-toolbar  
    color="secondary" 
    class="__no-round __footer-below">
        <div>
        <p class="copyright">© 2020 LokiCorp Import Export. Tous droits réservés.</p>
        <!-- <a mat-button routerLink="auth"><mat-icon>account_circle</mat-icon></> -->
        </div>
    </mat-toolbar>

</div>